---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - security.liqo.io
  resources:
  - peeringsecurities
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.liqo.io
  resources:
  - peeringsecurities/finalizers
  verbs:
  - update
- apiGroups:
  - security.liqo.io
  resources:
  - peeringsecurities/status
  verbs:
  - get
  - patch
  - update
